*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
    background: black;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.header__logo{   
    width: 65px;
    display: flex;
    justify-content: left; 
}
.header__right-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 300px;     
}
.header__option{
    color: white;
    display: none;  
}
.header__contain-login{
    display: none;
}
.header__list{  
    font-size: 40px;
    color: white;
    display: flex;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.bi-list{
    display: flex;
    align-items: start;
}


